* {
  box-sizing: border-box;
}
body {
  background-color: skyblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
header, footer {
  text-align: center;
  background-color: #001123;
  color: #fff;
  padding: 10px;
}

footer {
  margin-top: auto;
}
nav {
  background-color: #001123;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 15px;
}
nav a {
  display: inline-flex;
  gap: 0.2rem;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  align-items: center;
  border: 1px solid #fff;
}
svg {
  width: 30px;
  fill: #fff;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: darkgreen;
  gap: 1rem;
}

section {
  padding: 1rem;
  border: 1px solid #001123;
  color: #fff;
  border-radius: 5px;
}